<div class="user-withdraw container space space2">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="">
				<h1 class="withdraw-check">本当に退会しますか？</h1>
				<h4 class="withdraw-text">退会すると、会員情報や<h4>
				<h4>これまでの投稿が全て抹消されます。</h4>
				<h4>退会する場合は、「退会する」をクリックしてください。</h4>
			</div>
			<p class="withdraw-btn"><span><%= link_to "退会しない", users_user_path(current_user), class: "btn btn-primary" %></span>
				<%#<%= form_for @customer do |f| %>
				<span><%= link_to '退会する', users_user_path(current_user), method: :delete, class: "btn btn-danger" %></span></p>
		</div>
	</div>
</div>


