<div class="genre-edit container admin-space">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h1 class="admin-users-title">管理者：ホーム画面</h1>
			<div class="order_count">
				<h2>本日の登録者数 <span><%= link_to @users_count, admins_users_path(:today => "today") %> 件</span></h2>
 			</div>
 			<div class="order_count">
 				<h2>本日の投稿数 <span><%= link_to @items_count, admins_items_path(:today => "today") %> 件</span></h2>
 			</div>
 		</div>
 	</div>
</div>
