


<div class="genre-edit container admin-space">
	<h1>Admins::Home#top</h1>
	<p>Find me in app/views/admins/home/top.html.erb</p>
	<div class="row">
		<div class="col-xs-6">
			<div class="order_count">
				<h2>本日の会員登録者数 <span><%= link_to @users_count, admins_users_path %> 件</span></h2>
 			</div>
 			<div class="order_count">
 				<h2>本日の投稿数 <span><%= link_to @items_count, admins_items_path %> 件</span></h2>
 			</div>
 		</div>
 	</div>
</div>
