<div class="col-xs-3">
  <article id="genre_list_area">
    <table class="table">
      <thead>
        <tr>
          <th class="table_genre ">
            <!-- <span>ジャンル検索</span> -->
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <% categories.each do |category| %>


              <div>
                <%#<%= f.hidden_field :gaenre, :value => "test" %>
              </div>

              <td>
                 <input type="checkbox" name="fruits" value= genre id="appple">
                 <label for="apple" class="label"> <%= category.name %> </label>
               </td>
               <% end %>
          </tr>
      </tbody>
    </table>
  </article>
</div>