<div class="col-xs-3">
  <article id="genre_list_area">
    <table class="table">
      <thead>
        <tr>
          <th class="table_genre ">
            <h2>ジャンル一覧</h2>
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <% genres.each do |genre| %>


               <td>
                 <input type="checkbox" name="fruits" value= genre id="appple">
                 <label for="apple" class="label"> <%= genre %> </label>
               </td>
            <% end %>
          </tr>
      </tbody>
    </table>
  </article>
</div>
