


<div class="container">
  <div class="row">
  	<div class="col-xs-6 col-xs-offset-3">
  		<div>
  			<h1>Respawnについて</h1>
  		</div>
  		<div>
		<!-- <video src="<%= asset_path 'movie1.mov' %>"width="100%" height="100%"autoplay muted loop playsinline></video> -->
		<video src="<%= asset_path 'victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.mp4' %>"width="100%" height="100%"autoplay muted loop playsinline></video>
		</div>
	</div>
  </div>
</div>
