<div class="container about-page">
  <div class="row about-area">
  	<div class="col-xs-10 col-xs-offset-1">
  		<div class="col-xs-6">
  			<h1>Respawnについて</h1>
        <hr class="home-border">
        <div>
          <p>【Respawn(リスポーン)】とは〈復活〉や〈再び生まれる〉という意味があります</p>
          <p>【Respawn】は現代社会の日々のストレスや疲れた心を<br>
             身近なウェブサイトでいつでも癒せるような写真の共有サイトです<br>
             日々の生活の中であなたが【Respawn】によって、「あともう少し頑張ってみよう」、「今日は頑張った、明日も頑張ろう」とまたやる気が復活できれば幸いです<br>
             そして、そんな気持ちになれるような写真をお互いに共有することでいつもよりも<br>
             さらにハッピーな日々を送れることでしょう♪
          </p>
        </div>
  		</div>
      <div class="col-xs-6">
        <video class="about-movie" src="<%= asset_path 'victor_ciurus--5d_mark_iii_magic_lantern_14_bits_raw_video.mp4' %>"width="100%" autoplay muted loop playsinline></video>
      </div>
	  </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 how-to">
      <h1>How To Use</h1>
    </div>
  </div>
</div>
