<h1>Users::Home#top</h1>
<p>Find me in app/views/users/home/top.html.erb</p>


<%= link_to '投稿一覧', users_items_path, class: 'glyphicon glyphicon-item items' %>



<%= link_to '投稿する', new_users_item_path, class: 'glyphicon glyphicon-item items' %>

