// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mypage {
	height: 100%;
}

.user-default-image {
	width: 130px;
}

.user-image {
	margin: 0 auto;
}

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #54e041;
}
.box5 p {
    margin: 0; 
    padding: 0;
}

.mypage-icon {
	margin-top: 40px;
}


.user_item_content {
  margin-left: 20px;
  margin-bottom: 10px;
}

.user_profile {
	background-color: #fff;
}