// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mypage {
	height: 100%;
}

.user-default-image {
	width: 130px;
}

.user-image {
	margin: 0 auto;
}

.box5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #54e041;
}
.box5 p {
    margin: 0; 
    padding: 0;
}

.mypage-icon {
	margin-top: 40px;
}


.user_item_content {
  margin-left: 20px;
  margin-bottom: 10px;
}

.user_profile {
	background-color: #fff;
}

.btn-create {
    display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #54e041;     /* 背景色     */
  color         : #6f5436;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 0.9;         /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px #666666;  /* 影の設定 */
}

.btn-create:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}


.withdraw-text {
  margin-top: 50px;
}

.withdraw-btn {
  margin-top: 50px;
}

.withdraw-check {
 margin-top: 50px;
}

.user-space {
  height: 200px;
}