// Place all the styles related to the users/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user-com-imag {
	vertical-align: top;
}

.bottom-line {
 border-top: 1px solid #6f5436;
}

.user-defo-image-box {
	display: inline-block;
	vertical-align: top;
	
}